
.App {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 1000px;
    min-height: 800px;
    background-image: url('C:/Users/ricar/web_dev/todo_list/src/assets/background.jpg');
    justify-content: flex-start;
    margin: auto;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.App-header {
    position: absolute;
    width: 90%;
    top: 10%;
    left: 15%;
}

.App-header p{
    font-size: 75px;
    text-align: center;
    font-weight: 800;
    padding: 25px;
    color: #0088cc;   
}