
.App {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 60vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
    position: relative;
}

.App-header {
    position: absolute;
    width: 85%;
    left: 10%;
}

.App-header p{
    font-size: 75px;
    text-align: center;
    font-weight: 800;
    padding: 25px;
    color: #0088cc;   
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.clearAll button {
    background-color: crimson;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}
